<%= search_form_for @q do |f| %>
    <div class="form-group">
        <%= f.label :content_cont %>
        <%= f.search_field :content_cont, class: "form-control", placeholder: "search text" %>
        <br>
    </div>
        <%= f.submit %>
<% end %>


<h1 class="text-center">Twitter Clone Home</h1>
<br>
<br>
<% if user_signed_in? %>
    <h2><%= "Welcome #{current_user.name}!" %></h2>
    <br>
    <br>
    <%= render 'tweets/form', tweet: @tweet %>
<% else %>
    <h2><%= "Welcome Visitor, please sign in or sign up!" %></h2>
<% end %>
<br>
<br>
<table class="table">
    <%= paginate @tweets %>
    <thead>
        <tr>
        <th class="text-center" scope="col">Content</th>
        <th class="text-center" scope="col">Tweeted By</th>
        <th class="text-center" scope="col">Likes</th>
        <th class="text-center" scope="col">Retweet</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
        <% @tweets.each do |tweet| %>
        <td><%= render_with_hashtags(tweet.content) %></td>
        <td><%= tweet.user.name %> 
        <% if user_signed_in? %>
        <% if current_user.friends.pluck(:friend_id).include?(tweet.user.id) %>
        <%= button_to 'UnFollow', tweet_unfriend_path(tweet), method: :delete %>
        <% elsif current_user.id == tweet.user.id %>
        <%  %>
        <% else %>
        <%= button_to 'Follow', tweet_friend_path(tweet), method: :post %>
        <% end %>
        <% else %>
        <%= "¡sign up to follow!" %>
        <% end %>
        </td>
        <td><%= tweet.likes.count %>
        <% if user_signed_in? %>
            <% liked = tweet.likes.find {|like| like.user_id == current_user.id} %>
            <% if liked %>
                <%= button_to 'Unlike', tweet_like_path(tweet, liked), method: :delete %>
            <% else %>
                <%= button_to 'Like', tweet_likes_path(tweet), method: :post %>
            <% end %> 
        <% end %></td> 
        <td><% if user_signed_in? %>
        <br>
        <%= button_to 'Retweet', tweet_repost_path(tweet), method: :post %>
        <% end %><td>
        <td><%= link_to "#{time_ago_in_words(tweet.created_at)} ago", tweet_path(tweet) %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h2><%= link_to_next_page @tweets, 'More Tweets' %></h2>
