<h1>Twitter Clone Home</h1>
<table class="table">
    <%= paginate @tweets %>
    <thead>
        <tr>
        <th scope="col">Content</th>
        <th scope="col">Avatar</th>
        <th scope="col">Likes</th>
        <th scope="col">Retweets</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <% @tweets.each do |tweet| %>
        <td><%= tweet.content %></td>
        <td><%= link_to "Avatar", tweet.user.avatar %></td>
        <td><%= tweet.n_likes %></td>
        <td><%= tweet.retweets %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h2><%= link_to_next_page @tweets, 'More Tweets' %></h2>
