<h1 class="text-center">Twitter Clone Home</h1>
<br>
<br>
<% if user_signed_in? %>
    <h2><%= "Welcome #{current_user.name}!" %></h2>
    <br>
    <br>
    <%= render 'tweets/form', tweet: @tweet %>
<% else %>
    <h2><%= "Welcome Visitor, please sign in or sign up!" %></h2>
<% end %>
<br>
<br>
<table class="table">
    <%= paginate @tweets %>
    <thead>
        <tr>
        <th scope="col">Content</th>
        <th scope="col">Avatar</th>
        <th scope="col">Likes</th>
        <th scope="col">Retweets</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <% @tweets.each do |tweet| %>
        <td><%= tweet.content %></td>
        <td><%= link_to "Avatar", tweet.user.avatar %></td>
        <td><%= tweet.likes.count %>
        <% if user_signed_in? %>
            <% liked = tweet.likes.find {|like| like.user_id == current_user.id} %>
            <% if liked %>
                <%= button_to 'Unlike', tweet_like_path(tweet, liked), method: :delete %>
            <% else %>
                <%= button_to 'Like', tweet_likes_path(tweet), method: :post %>
            <% end %></td>  
        <% end %>
        <td><%= tweet.retweets %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h2><%= link_to_next_page @tweets, 'More Tweets' %></h2>
